@{
    ViewBag.ActiveMenu = "Manage"; //The menu item will be active for this page.
}
<div ng-controller="app.views.stars.index as vm" class="starsCsii">
    <div class="row">
        <div class="col-lg-9 col-md-7 col-sm-5 col-xs-12">
            <ol class="breadcrumb">
                <li><a href="#">首页</a></li>
                <li><a href="#">管理</a></li>
                <li class="active">明星列表</li>
            </ol>
        </div>

        <div class="btn-group col-lg-2 col-md-3 col-sm-4" dropdown>
            <button class="btn btn-default dropdown-toggle" dropdown-toggle>
                排序： {{vm.displaySortings[vm.sorting]}}
                <span class="caret"></span>

            </button>
            <ul class="dropdown-menu" role="menu" aria-labelledby="btn-append-to-body">
                <li ng-repeat="sortingDirection in vm.sortingDirections" ng-show="sortingDirection != vm.sorting"><a href="javascript:void(0)" class=" withripple" ng-click="vm.sort(sortingDirection)"> {{vm.displaySortings[sortingDirection]}}</a></li>
            </ul>
        </div>


        <div class="col-lg-1 col-md-2 col-sm-3">

            <a class="btn  btn-success" href="#" role="button" ng-click="showNewStarDialog()">添加一个明星</a>
        </div>
    </div>
    <!-- 明星列表 -->
    <div class="row">

        <div ng-repeat="star in vm.stars" class="col-xs-12 col-sm-6 col-md-4 col-lg-3" style="border:1px dotted #808080">
            <h3>{{star.name}} <span ng-show="star.isBlocked" class="label label-default">已屏蔽</span></h3>
            <p>中文名：{{star.chineseName}} </p>
            <p style="height:100px">
                简介：{{star.description}}
            </p>
            <p>创建时间：<span class="text-muted">{{star.creationTime | fromNow}}</span></p>
            <p ng-repeat="blog in star.blogs"><i class="fa fa-{{blog.providerName}}"></i><a target="_blank" href="{{blog.url}}"> {{blog.url}}</a> {{blog.id}}</p>
            <p>标签：<span ng-repeat="tag in star.tags" class="label label-default">{{vm['tagName' + tag.tagId] }}</span> <a class="btn btn-success btn-xs" href="#" role="button" ng-click="showAddTagDialog(star.id)">管理标签 &raquo;</a></p>
            <p>
                <a class="btn btn-primary btn-sm" href="#" role="button" ng-click="showEditStarDialog(star.id)">修改 &raquo;</a>
                <a class="btn btn-info btn-sm" href="#" role="button" ng-click="showBlogsDialog(star.id)">微博管理</a>
                <a ng-show="!star.isBlocked" class="btn btn-warning btn-sm" href="#" role="button" ng-click="blockStar(star.id,true)">
                    屏蔽 &raquo;
                </a>
                <a ng-show="star.isBlocked" class="btn btn-warning btn-sm" href="#" role="button" ng-click="blockStar(star.id,false)">
                    解屏 &raquo;
                </a>

                <a class="btn btn-danger btn-sm" href="#" role="button" ng-click="deleteStar(star.id)">删除 &raquo;</a>
            </p>
        </div>

    </div>

    <!-- 分页 -->
    <nav>
        <ul class="pagination">
            <li>
                <a href="#" aria-label="Previous" ng-click="vm.clickPaga(true)">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
            <!--<li class="active pageItem"><a href="#">1</a></li>-->

            <li ng-class="{active:page.id==vm.currentPage}" class="pageItem" ng-repeat="page in vm.pageNumberAll"><a ng-click="vm.clickPaga(page.id)">{{page.id}}</a></li>

            <li>
                <a href="#" aria-label="Next" ng-click="vm.clickPaga(false)">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
        </ul>
    </nav>
</div>

